%h2 This is the README for the road map space application server.
%p /missions/nasa serves up list of current NASA missions

%p <a href="/push_notification">Send empty push notification POST request to GCM</a>